.widget{
    background: $light-blue;
    margin-bottom: $xl-size;
}
.widget-header {
    background: $blue;
    color: $off-white;
    display: flex;
    justify-content: space-between;
    padding: $m-size;
}
.widget-header__title {
    margin: 0;
}
.widget__message {
    color: $off-white;
    margin: none;
    padding: $l-size;
    text-align: center;
    border-bottom: 1px solid darken($light-blue,10%);
}
